In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
813,tt1615918,75000000,342695435,Alvin and the Chipmunks: Chipwrecked,Jason Lee|David Cross|Jenny Slate|Andy Buckley...,Mike Mitchell,This holiday it's gonna get squeaky.,"Playing around while aboard a cruise ship, the...",87,Comedy|Fantasy|Family|Music|Animation,Fox 2000 Pictures,12/14/2011,5.5,2011
1479,tt0375154,31000000,28000000,Tristan & Isolde,James Franco|Sophia Myles|Rufus Sewell|David O...,Kevin Reynolds,Fighting countries can still love...,An affair between the second in line to Britai...,125,Drama,Twentieth Century Fox Film Corporation|Epsilon...,4/7/2006,6.2,2006
789,tt1601913,25000000,77278331,The Grey,Liam Neeson|Dermot Mulroney|Frank Grillo|Dalla...,Joe Carnahan,Live or Die on This Day,An oil drilling team struggles to survive afte...,117,Action|Drama|Thriller,Scott Free Productions|1984 Private Defense Co...,12/11/2011,6.3,2011
1862,tt0195945,11000000,59827328,Next Friday,Ice Cube|Mike Epps|Justin Pierce|John Withersp...,Steve Carr,The suburbs make the hood look good.,"Ice Cube returns as Craig Jones, a streetwise ...",98,Comedy,New Line Cinema,1/12/2000,6.6,2000
171,tt1959490,125000000,362637473,Noah,Russell Crowe|Jennifer Connelly|Emma Watson|Lo...,Darren Aronofsky,The end of the world is just the beginning.,A man who suffers visions of an apocalyptic de...,139,Drama|Adventure,Paramount Pictures|Regency Enterprises|Protozo...,3/20/2014,5.5,2014

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# прибыль
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [0]:
data[(data.budget==data.budget.max())]['original_title']

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [0]:
data[(data.runtime==data.runtime.max())]['original_title']

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+

In [ ]:
data[(data.runtime==data.runtime.min())]['original_title']

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '2. 110' #+

In [ ]:
round((data.runtime.mean()), 0)

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '1. 107' #+

In [ ]:
data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
answers['6'] = '5. Avatar (tt0499549)' #+

In [ ]:
data[(data.profit==data.profit.max())]['original_title']

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+

In [ ]:
data[(data.profit==data.profit.min())]['original_title']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '1. 1478' #+

In [ ]:
data[(data.revenue>data.budget)]['revenue'].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+

In [ ]:
data[(data.release_year==2008)].sort_values('profit', ascending=False)[['original_title', 'profit']].head(1)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+

In [ ]:
data[(data.release_year>=2012) & (data.release_year<=2014) & (data.profit==data.profit.min())]['original_title']

# 11. Какого жанра фильмов больше всего?

In [18]:
answers['11'] = '3. Drama' #+

In [ ]:
data11 = data.copy()
data11_genres = data11['genres'].str.split('|', expand=False)
data11_genres_count = data11_genres.explode().value_counts()
data11_genres_count

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
answers['12'] = '1. Drama' #+

In [ ]:
data12 = data.copy()
data12 = data12[['genres', 'profit']][data12.profit > 0].sort_values('profit', ascending=False)
data_genres = data12.genres.str.split('|', expand=False)
genres_count = data_genres.explode().value_counts()
genres_count

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
answers['13'] = '5. Peter Jackson' #+

In [ ]:
data13 = data.copy()
data_director = data13.groupby('director')[['revenue', 'director']].sum()
data_director.sort_values('revenue', ascending=False).head(1)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
answers['14'] = '3. Robert Rodriguez' #+

In [ ]:
data14 = data[data['genres'].str.contains('Action')].copy()
data_tmp = data14['director'].str.cat(sep='|')
data_tmp = pd.Series(data_tmp.split('|'))
data_tmp = data_tmp.value_counts(ascending=False)
data_tmp.head(1)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
answers['15'] = '3. Chris Hemsworth' #+

In [ ]:
only_cast = data[(data.release_year == 2012)].copy()
only_cast['cast'] = only_cast['cast'].str.split('|')
only_cast = only_cast.explode('cast')
only_cast.groupby('cast').revenue.sum().sort_values(ascending=False).head(1)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = '' #-

In [34]:
data_cast = data[data.budget > data.budget.median()].copy()
data_cast['cast'] = data_cast['cast'].str.split('|')
data_cast = data_cast.explode('cast')
data_cast.groupby('cast').budget.sum().sort_values(ascending=False).head(5)

cast
Johnny Depp       2531000000
Hugh Jackman      2008000000
Ian McKellen      1935000000
Angelina Jolie    1752000000
Tom Cruise        1702000000
Name: budget, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
answers['17'] = '2. Action' #+

In [ ]:
data17 = data.copy()
data17 = data17[data17.cast.str.contains('Nicolas Cage')]
collections.Counter(data17['genres'].str.cat(sep = '|').split('|')).most_common(1)

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

In [ ]:
data18 = data.copy()
data_temp = data18[data18.production_companies.str.contains('Paramount Pictures')]
data_temp.groupby('profit').min().head(1)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
answers['19'] = '5. 2015' #+

In [ ]:
data19 = data.copy()
data19.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [26]:
answers['20'] = '1. 2014' #+

In [ ]:
data20 = data.copy()
data_temp = data20[data20.production_companies.str.contains('Warner Bros')]
data_temp.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
answers['21'] = '4. Сентябрь' #+

In [ ]:
data_temp = data.copy()
data_temp['release_date'] = data_temp.release_date.str.split('/')
data_temp['month'] = data_temp['release_date'].apply(lambda x: x[0])
data_temp.month.value_counts().sort_values(ascending=False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
answers['22'] = '2. 450' #+

In [ ]:
data22 = data.copy()
data22.release_date = data22.release_date.apply(lambda x: x.split('/'))
data22['month'] = data22.release_date.apply(lambda x: x[0])
summer_films = data22.loc[data22['month'].isin(['6', '7', '8'])]
summer_films['original_title'].count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
answers['23'] = '5. Peter Jackson' #+

In [ ]:
data23 = data.copy()
data23.director = data23.director.apply(lambda x: x.split('|'))
data23.release_date = data23.release_date.apply(lambda x: x.split('/'))
data23['month'] = data23.release_date.apply(lambda x: x[0])
data_winter = data23.loc[data23['month'].isin(['1', '2', '12'])]
data_winter['director'].value_counts().head(1)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
answers['24'] = '5. Four By Two Productions' #+

In [ ]:
data24 = data.copy()
data24.production_companies = data24.production_companies.apply(lambda x: x.split('|'))
production_comp = data24.explode('production_companies')
production_comp['title_length'] = production_comp['original_title'].apply(lambda x: len(x))
production_comp[production_comp.title_length == production_comp.title_length.max()]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
answers['25'] = '3. Midnight Picture Show' #+

In [ ]:
data25 = data.copy()
data25.production_companies = data25.production_companies.apply(lambda x: x.split('|'))
data25['overview_length'] = data25['overview'].apply(lambda x: x.split()).apply(len)
data25 = data25.explode('production_companies').groupby('production_companies').overview_length.mean()
data25[data25 == data25.max()]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
#-

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [32]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show'}

In [33]:
# и убедиться что ни чего не пропустил)
len(answers)

24